<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liucy.server.mapper.EmployeeEcMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liucy.server.pojo.EmployeeEc">
        <id column="id" property="id"/>
        <result column="eid" property="eid"/>
        <result column="ecDate" property="ecDate"/>
        <result column="ecReason" property="ecReason"/>
        <result column="ecPoint" property="ecPoint"/>
        <result column="ecType" property="ecType"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <resultMap id="EmployeeEcInfo" type="com.liucy.server.pojo.EmployeeEc" extends="BaseResultMap">
        <association property="employee" javaType="com.liucy.server.pojo.Employee">
            <result column="ename" property="name"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, eid, ecDate, ecReason, ecPoint, ecType, remark
    </sql>

    <!-- 获取所有员工奖惩 -->
    <select id="getAllEmployeeEc" resultMap="EmployeeEcInfo">
        SELECT
            ec.*,
            e.NAME AS ename
        FROM
            t_employee_ec ec,
            t_employee e
        WHERE
            ec.eid = e.id
    </select>

</mapper>
